<!DOCTYPE html>
<html>
<head>
	<title>The Stationary Groove - TTC</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "map" %> 
  <%= javascript_include_tag :defaults %> 
  <%= csrf_meta_tag %>
</head>



<body>


<div id="holder">

<div class="mapdefault"><a name="mapstart"></a></div>

<h3 class="access">Yonge-University-Spadina Line</h3>

<dl class="map">

<% @stations.each do |station| %>
	<dt><a id="<%= station.codename %>"><%= station.name %></a></dt>
	<dd class="yus"><%= station.name %><br />
   <h3>Station features</h3>
	<ul>
		<% playlist = @playlists.find_by_station_id(station) %>
		<% playlist.find_all_by_song_id(:order => rank).each do |song| %>
			<li>
				<%= song.artist + " - " + song.title %>
			</li>
		<% end %>
		<%= link_to playlist.url_text, playlist.url %>
   </ul>


<% end %>

</dl>



</div>



</body>
</html>
