<!DOCTYPE html>
<html>
<head>
	<title>The Stationary Groove - TTC</title>
		  <%= stylesheet_link_tag 'widths', :id => "cssSize" %>
		  <%= stylesheet_link_tag 'map' %>
		  <%= javascript_include_tag "map" %> 
		  <%= csrf_meta_tag %>
</head>



<body>


<div id="holder">

<div class="mapdefault"><a name="mapstart"></a></div>

<h3 class="access">Yonge-University-Spadina Line</h3>

<dl class="map">
 
	<% @playlists.each do |playlist| %>
		<dt><a id="<%= playlist.station.codename %>" 
			<% unless playlist.url.nil? %> href="<%= playlist.url %>" <% end %>
			class="location"><%= playlist.station.name %></a></dt>
		<dd class="yus"><%= playlist.station.name %><br />
	   <h3>Playlist</h3>
		<ul>
			<% Song.find_all_by_playlist_id(playlist).each do |song| %>
				<li>
					<%= song.artist + " - " + song.title %>
				</li>
			<% end %>
			<% unless playlist.url.nil? %>
				<%= link_to(playlist.url_text, playlist.url) %>
			<% end %>
	   </ul>
		</dd>


	<% end %>
	

</dl>



</div>



</body>
</html>
