<!DOCTYPE html>
<html>
<head>
	<title>The Stationary Groove - TTC</title>
		  <%= stylesheet_link_tag 'widths', :id => "cssSize" %>
		  <%= stylesheet_link_tag 'map' %>
		  <%= javascript_include_tag "map" %> 
		  <%= csrf_meta_tag %>
		<script type="text/javascript" src="http://www3.ttc.ca/js/widths.js"></script>
		<script type="text/javascript" src="http://www3.ttc.ca/js/homestretchMaster.js"></script>


</head>



<body>


<div id="holder">

<div class="mapdefault"><a name="mapstart"></a></div>

<h3 class="access">Yonge-University-Spadina Line</h3>

<dl class="map">
 
	<% @playlists.each do |playlist| %>
		<dt><a id="<%= playlist.station.codename %>"<% unless playlist.url.nil? %> href="<%= playlist.url %>"<% end %> class="location" target="_blank"><%= playlist.station.name %></a></dt>
		<dd class="yus"><h3>Stationary Groove - <%= playlist.station.name %> Station Playlist</h3>
	   <p class="downloadtext"><% unless playlist.url_text.nil? %><%= playlist.url_text %><% end %></p>
		<ul>
			<% Song.find_all_by_playlist_id(playlist).each do |song| %>
				<li><%= song.artist + " - " + song.title %></li>
			<% end %>
	   </ul>
	   <br />
			<% unless playlist.url.nil? %>
				<div class="downloadtext">Click the station dot to download this playlist</div>
			<% end %>
		</dd>


	<% end %>
	

</dl>



</div>



</body>
</html>
