<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @season.name %>
</p>

	<table>
		<% @stations.each do |station| %>
			<tr>
			<td><%= link_to station.name, playlist_path(Playlist.find_or_create_by_station_id_and_season_id(:station_id => station.id, :season_id => @season.id)) %></td>
			</tr>
	   <% end %>
   </table>

<p>&nbsp;</p>
<%= link_to 'Edit Season', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
