<%= form_for(@playlist) do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :season_id %><br />
	 <%= f.select :season_id, Season.find(:all).collect {|s| [s.name, s.id] } %>
  </div>
  <div class="field">
    <%= f.label :station_id %><br />
    <%= f.select :station_id, Station.find(:all).collect {|s| [s.name, s.id]} %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :url_text %><br />
    <%= f.text_field :url_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
