<h1>Listing playlists</h1>

<table>
  <tr>
    <th>Season</th>
    <th>Station</th>
    <th>Url</th>
    <th>Url text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @playlists.each do |playlist| %>
  <tr>
    <td><%= playlist.season.name %></td>
    <td><%= playlist.station.name %></td>
    <td><%= playlist.url %></td>
    <td><%= playlist.url_text %></td>
    <td><%= link_to 'Show', playlist %></td>
    <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
    <td><%= link_to 'Destroy', playlist, :method => :delete %></td>      <!-- :confirm => 'Are you sure?',  -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Playlist', new_playlist_path %>
