<p id="notice"><%= notice %></p>

<p>
  <b>Season:</b>
  <%= @playlist.season %>
</p>

<p>
  <b>Station:</b>
  <%= @playlist.station %>
</p>

<p>
  <b>Url:</b>
  <%= @playlist.url %>
</p>

<p>
  <b>Url text:</b>
  <%= @playlist.url_text %>
</p>


<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
