<p id="notice"><%= notice %></p>

<p>
  <b>Season:</b>
  <%= @playlist.season.name %>
</p>

<p>
  <b>Station:</b>
  <%= @playlist.station.name %>
</p>

<p>
  <b>Url:</b> <%= link_to @playlist.url_text, @playlist.url %> 
</p>

<p><%= link_to 'Edit playlist info', edit_playlist_path(@playlist) %></p>

<p>
<table>
	<% unless @songs.empty? %>
		<% @songs.each do |song| %>
	 	<tr><td><% unless song.url.blank? %><a href="<%= song.url %>"><% end %>
				  <%= song.rank.to_s %>. <%= song.artist + " - " + song.title %>
				  <% unless song.url.blank? %></a><% end %> 
			    </td>
			    <td><%= link_to 'Edit song', edit_song_path(song) %> 
			        <%= link_to 'Delete', song, :confirm => 'Are you sure?', :method => :delete %>
		   </td></tr>
		<% end %>
	<% end %>
</table>

<p>&nbsp;</p>
<p><strong>Enter a new song:</strong></p>

<table>
	<tr>
		<td><%= form_for @song do |f| %>
			 <%= f.label :artist %>
			 <%= f.text_field :artist, :autofocus => true %>
			 <%= f.label :title, "Song title" %>
			 <%= f.text_field :title %>
			 <%= f.label :url, "URL" %>
			 <%= f.text_field :url %>
			 <%= f.hidden_field :playlist_id, :value => @playlist.id %>
			 <%= f.hidden_field :rank, :value => (@songs.count + 1) %>
			 <%= f.submit %> 
			 <% end %>
		</td>
</table>



<p>
<%= link_to 'Back', playlists_path %>
</p>
